dist/
bin/
node_modules
error.log
vendor/
disphatch.conf.json
htdocs/js/index.js
htdocs/js/plantlogg.js
htdocs/js/plantlogg.bundle.js
htdocs/js/plantlogg.bundle.js.map
htdocs/js/test.js
htdocs/css/style.css
htdocs/css/style.css.map
*test.sql
src/schema/users.sql
*.swp
tags
htdocs/img/wallpaper*

