/*
 * _interface.scss
 * This file provides the styles for the various features of the user
 * interface. 
 *
 */

body {

//    background-image: url("/img/wallpaper04.png");
//    background-size: 1rem;
}

.button {

    text-align: center;
    color: #fff;
    letter-spacing: 0.05rem;
	border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.primary-button {

	color: #cfeddb;
	@include linear-gradient-background(#3ea86a, #328655);
	border: 1px solid #328655; // #184b94
	border-bottom-color: #40584a;

	&:hover {

		@include linear-gradient-background(#328655, #3ea86a);
	}
}

.secondary-button {

    // e2725b e18a78 (lighter)
//	@include linear-gradient-background(#eac33c, #e8b503);
	@include linear-gradient-background(#e29f5b, #e2725b);
//	border: 1px solid #bc9408; // #184b94   e16248
	border: 1px solid #e16248; // #184b94   e16248
//	border-bottom-color: #a68205;
	border-bottom-color: #e15336;

	&:hover {

		@include linear-gradient-background(#e2725b, #e29f5b);
	}

    &:focus {

        outline: 1px #e15336 auto;
    }
}

.tertiary-button {

	@include linear-gradient-background(#4d86da, #2a6bca);
	border: 1px solid #2867c2; // #184b94
	border-bottom-color: #245bac;

	&:hover {

		@include linear-gradient-background(#2a6bca, #4d86da);
	}
}

.quaternary-button {

}

.error-button {

	@include linear-gradient-background(#ef6b42, #ed4c2a);
	border: 1px solid #d03514;
	border-bottom-color: #94260e;

	&:hover {

		@include linear-gradient-background(#ed4c2a, #ef6b42);
	}
}

input,
select{

    display: inline-block;
    width: 100%;
}

select,
textarea,
input[type="submit"],
input[type="text"],
input[type="file"],
input[type="password"] {

    height: 2.5rem;
    font-size: 75%;
    font-family: $font-stack;
    border-radius: 3px;
    line-height: 1rem;
    padding: 0;
}

select,
textarea,
input[type="text"],
input[type="file"],
input[type="password"] {

    background-color: rgba(207, 237, 219, 0.5);
    color: #28372e;
    padding: 0 0 0 0.5rem;
//    border: 1px solid #b0cbbb;
	border: 1px solid #328655; // #184b94
}

label {

    &.file-input {

        width: 100%;
        height: 10rem;
        border: 1px dashed #ccc;
        border-radius: 3px;
        
        img {

            width: 20%;
            opacity: 30%;
            filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.3));
            margin: 0 auto;
            height: 10rem;
            display: block;
            top: 50%;
        }
    }
}

.error {

    color: #ed4c2a;
}

.modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 20%;
//    background-color: rgba(62,168,106,0.85); // hex #3ea86a
    z-index: 70;

    .rel-abs-container {

        width: 100%;
        height: 100vh;
    }

    .rel-abs-inner {

        top: 50%;
        transform: translateY(-50%);
    }

    img {

        margin: 0 auto;
        display: block;
        min-width: 75%;
    }

    h1 {

        text-align: center;
    }

    p {

        margin-top: 1rem;
    }

    .button {

        margin-top: 2rem;
        padding: 0.5rem;
    }
}

.success-modal {

    background: radial-gradient(ellipse closest-side, rgba(62,168,106,0.85) 50%, rgba(84,165,117,0.85) 100%);

    h1 {

        color: #cfeddb;
    }
    p {

        color: #cfeddb;
    }
}

.error-modal {

    background: radial-gradient(ellipse closest-side, rgba(239,107,66,0.85) 50%, rgba(237,76,42,0.85) 100%);

    h1 {

        color: #fff;
    }

    p {

        color: #fff;
    }

    .button {

    }
}

