/*
 * _next.scss
 * This is where SCSS rules can be written before worrying about
 * organizing them. Ideally only a handful of new rules will live
 * here at a time.
 *
 */
$new-individual-form-section-border: 1px dashed #bbb;

.add-individual {

    padding: 1.5rem 0.5rem 1rem;

    h1, p {

        margin: 0 0 0 0.5rem;
    }

    p {

        font-style: italic;
        color: #444;
        margin-top: 0.25rem;
        font-size: 75%;
    }

    button {

        width: 100%;
        height: 2.5rem;
        color: #fff;
        border-radius: 3px;
    }
}

.add-individual-form {

    padding: 0 0.5rem;
    margin: 1rem 0 0 0;

    h2 {

        flex: 0 0 100%;
    }

    p.subtitle {

        flex: 0 0 100%;
        margin: 0.25rem 0 0 0;
    }

    input {

        padding-left: 0;
        height: initial;
        line-height: initial;
        width: 100%;
        margin: 0.1rem 0 0 0;
        border: 0;
        background: 0;
        margin: 0;
    }

    input[type="file"] {

        display: none;
    }

    label {

        flex: 0 1 auto;
        display: flex;
        align-self: flex-end;
        width: 100%;

        span {

            flex: 0 1 auto;
        }

        input {

            flex: 0 1 auto;
        }

        &.split {

            width: 48%;
        }
    }

    textarea {

        max-width: 100%;
        min-width: 100%;
        width: 100%;
        padding: 0.25rem;
        resize: vertical;
        height: 5rem;
        margin: 0.5rem 0 0 0;
        border: 1px dashed #bbb;
        background: #f4f4f4;
    }

    @include placeholder(textarea, $placeholder-color, $placeholder-font-style);
}

.form-section {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 0px solid #2a6e46;
    border-radius: 3px;
    padding: 0.5rem 0;

    &:first-child {

        padding-top: 0;
    }

    input {

    }
}

.image-section {

    label.file-input {

        background: #f4f4f4;
    }
}

.label-section {
    
    border-bottom: $new-individual-form-section-border;
    padding-top: 0;

    label {

        width: 100%;
    }

    input {

        &.nickname {

            font-size: 150%;
            font-family: $header-font-stack;
        }

        &.serial {

        }
    }
}

.identify-section {

    border-bottom: $new-individual-form-section-border;
    padding-bottom: 0.75rem;
    
    select {

        flex: 0 1 auto;
    }

    label {

        font-size: 75%;
        line-height: 1rem;
        padding: 0.15rem 0 0;
        
        span {

            margin-right: 0.5rem;
            white-space: nowrap;
        }

        &.subspecies {

            padding-top: 0.5rem;
        }
    }

    input {

        &.botanical-name {

            font-size: 90%;
            font-style: italic;
        }

        &.family {

            font-size: 135%;
            font-style: normal;
            font-family: $header-font-stack;
        }

        &.genus,
        &.species {

            width: 50%;
        }

        &.subspecies-name,
        &.variety-name,
        &.origin {

            font-size: 100%;
            font-style: italic;
            line-height: 1rem;
        }
    }

    .botanical-name-container {

        display: flex;
        justify-content: flex-start;
    }
}

.description-section {

    padding-top: 1.5rem;
}

.conditions-section {

    padding-top: 1rem;

    p {

        margin-left: 0;
    }

    img {

        width: 2rem;
        flex: 0 0 auto;
        margin-right: 0.5rem;
        opacity: 0.65;
    }

    .condition {

        padding: 0.7rem 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: $new-individual-form-section-border;

        &:first-of-type {

            margin-top: 1rem;
            label {

            }
        }

        &:last-child {

            border: 0;
            margin-bottom: 1rem;
        }
    }

    label {

        width: calc(100% - 3.3rem);
        flex: 0 0 auto;
        margin-right: 0.3rem;

    }

    select {

        flex: 0 1 auto;
    }

    button {

        flex: 0 0 auto;
        width: 3rem;
        border-radius: 3px;
        height: 2.5rem;
        font-size: 75%;
    }

    .new-condition {

        width: 100%;
        border-left: 1px solid #bbb;
        margin: 0.5rem 0 0.5rem 1rem;
        padding: 0 0 0 1.5rem;
        display: none;

        &.display {

            display: block;
        }

        input:first-child {

            padding: 0.5rem 0 0;
            font-weight: bold;
        }

        input:last-child {

            padding: 0 0 0.6rem;
            font-style: italic;
        }
    }
}

.identify-section button.new-variety {

    width: 36%;
    height: 2.5rem;
    align-self: flex-end;
    border-radius: 3px;
    color: #fff;
}

.new-variety-subsection {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0 0 0.382rem;
    padding-left: 0.618rem;
    border-left: 1px solid #ddd;

    h3 {

        flex: 0 1 auto;
        align-self: flex-end;
        width: 100%;
        margin: 0.25rem 0 0.25rem 0;
    }

    label {

        width: 100%;
        margin-top: 0.25rem;
    }

    input {

        height: 2rem;
    }
}

@include placeholder(input, $placeholder-color, $placeholder-font-style);
@include placeholder('input.required', #e2615b, $placeholder-font-style);

.offscreen-genus {

    position: absolute;
    top: -200%;
    font-size: 90%;
    opacity: 0;
}

