/*
 * _next.scss
 * This is where SCSS rules can be written before worrying about
 * organizing them. Ideally only a handful of new rules will live
 * here at a time.
 *
 */
$input-validation-padding: 0.25rem;

.registration-form {

    padding: 1rem;

    input {

        display: inline-block;
        width: 80%;
        margin: 0.5rem 0 0 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    .input-validation {

        display: inline-block;
        width: 20%;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0.5rem 0 0 0;
	    border: 1px solid #328655; // #184b94
        border-left: 0;
        height: 2.5rem;
        background-color: #f0f8f3;
        position: relative;
        padding: $input-validation-padding;
    }

    input[type="submit"] {

        width: 100%;
        border-radius: 3px;
    }

    h1 {

        display: block;
        margin: 0.5rem 0 0.25rem 0;
        font-size: 24px;
    }
}

.validation-status {

    max-width: 100%;
    height: calc(100% - (2 * #{$input-validation-padding}));
    position: absolute;
    right: 0.5rem;
}

.validation-message {

    margin: 0.25rem 0 0.75rem;
    font-size: 1rem;
}

div.valid {

    color: #328655;
}

div.invalid {

    color: #ed4c2a;
}

